<mat-card>
  <form (ngSubmit)="onSavePost(f)" #f="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        [ngModel]="post?.title"
        name="title"
        required
        #title="ngModel"
        placeholder="Post title"
      />
      <mat-error *ngIf="title.invalid">Please Add the title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Enter the Content"
        rows="4"
        [ngModel]="post?.content"
        name="content"
        required
        #content="ngModel"
      >
      </textarea>
      <mat-error *ngIf="content.invalid">Please Enter the Content</mat-error
      ><br />
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="f.invalid"
    >
      Save Post
    </button>
  </form>
</mat-card>
